<mat-card>
  <form [formGroup]="newsAddForm" (ngSubmit)="onSubmit()">
    <mat-card-title>
      <input matInput placeholder="Titre" formControlName="title">
      <mat-error *ngIf="title.errors">Le titre est obligatoire</mat-error>
    </mat-card-title>
    <mat-form-field appearance="outline" class="news-content-form">
      <mat-label>Contenu</mat-label>
      <textarea matInput rows="8" formControlName="content"></textarea>
      <mat-error *ngIf="content.errors">Le contenu est obligatoire</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary" [disabled]="false">Publier</button>
    </mat-card-actions>
  </form>
</mat-card>
