<div class="ttt" layout="row" layout-align="center center">
  <mat-card layout="row" layout-align="center center">
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
      <mat-card-actions>
        <button (click)="alert()" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
